[submodule "third_party_libraries/ai_safety_common"]
	path = third_party_libraries/ai_safety_common
	url = https://github.com/HKCRC/ai_safety_common.git
[submodule "third_party_libraries/modbus_devices"]
	path = third_party_libraries/modbus_devices
	url = https://github.com/HKCRC/modbus_devices.git
